
<%- include('../partials/header', { title: 'Register' }) %>

<main>
  <h1><%= title %></h1>

  <% if (messages.error) { %>
    <div class="flash-message error">
      <p><%= messages.error %></p>
    </div>
  <% } %>

  <% if (messages.success) { %>
    <div class="flash-message success">
      <p><%= messages.success %></p>
    </div>
  <% } %>

  <form action="/account/register" method="post" class="register-form">
    <label for="fname">First Name</label>
   <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">
    <label for="lname">Last Name</label>
    <input type="text" name="account_lastname" id="accountlastname" required value="<%= locals.account_lastname %>">
    <label for="email">Email</label>
   <input type="text" name="account_email" id="accountemail" required value="<%= locals.account_email %>">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[A-Z])(?=.*\W).{12,}">
    <button type="button" onclick="togglePassword()">Show Password</button>

    <p class="note">Password must be at least 12 characters long, include 1 uppercase letter, 1 number, and 1 special character.</p>

    <button type="submit">Register</button>
  </form>
</main>

<script>
  function togglePassword() {
    const pw = document.getElementById("password");
    pw.type = pw.type === "password" ? "text" : "password";
  }
</script>