<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>

    <main>
      <%- body %> <!-- index.ejs content goes here -->
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
